.clients {
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;

    &-icon {
        flex-basis: calc((100% - 30px) / 2);
        height: 92px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        fill: $elementColorSecondary;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-icon:is(:hover, :focus) {
        fill: $backlightColor;
        border: 1px solid $backlightColor;
        cursor: pointer;
    }
}

@media screen and (min-width: $tablet) {
    .clients-icon {
        flex-basis: calc((100% - 60px) / 3);
    }
}
@media screen and (min-width: 1200px) {
    .clients {
        flex-wrap: nowrap;
        margin-top: 30px;
    }
}
