.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__toggle {
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: none;
    }
    &__toggle:is(:hover, :focus) {
        fill: $backlightColor;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $fontColorSecondary;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        padding: 48px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__container.is-open {
        transform: translateX(0);
    }
    &__toggle--close {
        position: absolute;
        top: 10px;
        right: 15px;
        color: #fff;
    }
    &__menu-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__link-menu {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02;
        color: $fontColorPrimary;
        text-decoration: none;
    }
    &__link-menu--active {
        color: $backlightColor;
    }
    &__contact-container {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    &__contact-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__link-contact {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        text-decoration: none;
        color: $fontColorTertiary;
    }
    &__link-contact--phone {
        font-size: 34px;
        color: $backlightColor;
    }
    &__link-menu:is(:hover, :focus),
    &__link-contact:is(:hover, :focus) {
        color: $backlightColor;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__socials-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 15px 0;
    }
    &__socials-list-item {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        margin-right: 10px;
        padding-right: 10px;
    }
    &__socials-list-item:last-child {
        border-right: none;
    }
    &__link-socials {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: $backlightColor;
        text-decoration: none;
    }
    @media screen and (min-width: $tablet) {
        .mobile-menu {
            &__toggle {
                display: none;
            }
        }
    }
}
