.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
.backdrop {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 15px;
}

.modal {
    position: relative;

    background-color: $fontColorSecondary;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: $borderRadius;
    margin: auto;
    display: flex;

    &__button-close {
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 8px;
    }
    &__form {
        max-width: 450px;
        padding: 0 40px;
        display: flex;

        flex-direction: column;
        margin-top: 40px;
        position: relative;
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        line-height: 23px;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 12px;
    }

    &__form-label {
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: $fontColorTertiary;
    }
    &__form-input {
        height: 40px;
        position: relative;
        padding-left: 42px;
        transition-property: border;
        transition-duration: $transitionDuration;
        transition-timing-function: $transitionTimingFunction;
    }
    &__form-textarea {
        resize: none;
        margin-top: 4px;
        margin-bottom: 20px;
        padding-left: 16px;
        padding-top: 12px;
        transition-property: border;
        transition-duration: $transitionDuration;
        transition-timing-function: $transitionTimingFunction;
    }

    &__input-icon {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        transition-property: fill;
        transition-duration: $transitionDuration;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__form-input-container {
        position: relative;
        margin-top: 4px;
        margin-bottom: 10px;
    }
    &__form-input,
    &__form-textarea {
        border: $borderInput;
        border-radius: 4px;
        width: 100%;
    }
    &__form-input:focus,
    &__form-textarea:focus {
        border: 1px solid $backlightColor;
        outline: none;
    }

    &__form-input:focus + &__input-icon {
        fill: $backlightColor;
    }

    &__statute {
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;
        margin-bottom: 120px;
    }
    &__form-textarea::placeholder {
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    &__statute-label {
        font-size: 12px;

        line-height: 1.7;
        letter-spacing: 0.03;
        color: $fontColorTertiary;

        text-align: center;
    }
    &__link {
        color: $backlightColor;
    }
    &__statute-input {
        appearance: none;
        cursor: pointer;
        transform: translateY(20%);
    }
    &__statute-input:not(:checked) {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
        height: 15px;
        width: 16px;
    }
    &__statute-input:checked {
        background-image: url("data:image/svg+xml;charset=utf8,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 34 34'%3E%3Ctitle%3Eicon-checked%3C/title%3E%3Cpath fill='%232196f3' d='M4.267 0h25.6c2.356 0 4.267 1.91 4.267 4.267v23.467c0 2.356-1.91 4.267-4.267 4.267h-25.6c-2.356 0-4.267-1.91-4.267-4.267v-23.467c0-2.356 1.91-4.267 4.267-4.267z'%3E%3C/path%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='0.4267' stroke-miterlimit='4' stroke-linecap='butt' stroke-linejoin='miter' d='M8.442 16.537l-0.147-0.14-2.205 2.088 7.767 7.41 16.318-15.567-2.19-2.089-14.128 13.465-5.416-5.167z'%3E%3C/path%3E%3C/svg%3E");
        height: 15px;
        width: 16px;
    }
    &__button-form {
        padding: 10px 76px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 40px;
    }
}

// @media screen and (min-width: 1200px) {
//     .is-hidden {
//         pointer-events: none;
//         visibility: hidden;
//         opacity: 0;
//     }
//     .backdrop {
//         display: flex;
//         position: fixed;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         right: 0;
//         z-index: 1;
//         background-color: rgba(0, 0, 0, 0.2);
//         transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
//             opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     .modal {
//         position: relative;
//         width: 528px;
//         min-height: 581px;
//         background-color: $fontColorSecondary;
//         box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
//             0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//         border-radius: $borderRadius;
//         margin: auto;
//         display: flex;
//         justify-content: center;

//         &__button-close {
//             width: 30px;
//             height: 30px;
//             border: 1px solid rgba(0, 0, 0, 0.1);
//             border-radius: 50%;
//             background-color: transparent;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             outline: none;
//             cursor: pointer;
//             position: absolute;
//             top: 8px;
//             right: 8px;
//         }
//         &__form {
//             width: 448px;
//             display: flex;
//             flex-direction: column;
//             margin-top: 40px;
//             position: relative;
//         }
//         &__title {
//             font-weight: 700;
//             font-size: 20px;
//             line-height: 1.2;
//             line-height: 23px;
//             letter-spacing: 0.03em;
//             text-align: center;
//             margin-bottom: 12px;
//         }

//         &__form-label {
//             font-size: 12px;
//             line-height: 1.2;
//             letter-spacing: 0.01em;
//             color: $fontColorTertiary;
//         }
//         &__form-input {
//             height: 40px;
//             position: relative;
//             padding-left: 42px;
//             transition-property: border;
//             transition-duration: $transitionDuration;
//             transition-timing-function: $transitionTimingFunction;
//         }
//         &__form-textarea {
//             resize: none;
//             margin-top: 4px;
//             margin-bottom: 20px;
//             padding-left: 16px;
//             padding-top: 12px;
//             transition-property: border;
//             transition-duration: $transitionDuration;
//             transition-timing-function: $transitionTimingFunction;
//         }

//         &__input-icon {
//             position: absolute;
//             top: 50%;
//             left: 15px;
//             transform: translateY(-50%);
//             transition-property: fill;
//             transition-duration: $transitionDuration;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         }
//         &__form-input-container {
//             position: relative;
//             margin-top: 4px;
//             margin-bottom: 10px;
//         }
//         &__form-input,
//         &__form-textarea {
//             border: $borderInput;
//             border-radius: 4px;
//             width: 100%;
//         }
//         &__form-input:focus,
//         &__form-textarea:focus {
//             border: 1px solid $backlightColor;
//             outline: none;
//         }

//         &__form-input:focus + &__input-icon {
//             fill: $backlightColor;
//         }

//         &__statute {
//             display: flex;
//             align-items: center;
//             margin: 0 auto;
//             position: relative;
//         }
//         &__form-textarea::placeholder {
//             font-size: 12px;
//             line-height: 1.2;
//             letter-spacing: 0.01em;
//             color: rgba(117, 117, 117, 0.5);
//         }
//         &__statute-label {
//             font-size: 14px;
//             line-height: 1.7;
//             letter-spacing: 0.03;
//             color: $fontColorTertiary;
//             margin-left: 7px;
//         }

//         &__link {
//             color: $backlightColor;
//         }

//         &__statute-input {
//             appearance: none;
//             cursor: pointer;
//         }
//         &__statute-input:not(:checked) {
//             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
//             height: 15px;
//             width: 16px;
//         }

//         &__statute-input:checked {
//             background-image: url("data:image/svg+xml;charset=utf8,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 34 34'%3E%3Ctitle%3Eicon-checked%3C/title%3E%3Cpath fill='%232196f3' d='M4.267 0h25.6c2.356 0 4.267 1.91 4.267 4.267v23.467c0 2.356-1.91 4.267-4.267 4.267h-25.6c-2.356 0-4.267-1.91-4.267-4.267v-23.467c0-2.356 1.91-4.267 4.267-4.267z'%3E%3C/path%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='0.4267' stroke-miterlimit='4' stroke-linecap='butt' stroke-linejoin='miter' d='M8.442 16.537l-0.147-0.14-2.205 2.088 7.767 7.41 16.318-15.567-2.19-2.089-14.128 13.465-5.416-5.167z'%3E%3C/path%3E%3C/svg%3E");
//             height: 16px;
//             width: 16px;
//         }

//         &__button-form {
//             padding: 10px 76px;
//             position: absolute;
//             bottom: 0;
//             left: 50%;
//             transform: translateX(-50%);
//             margin-bottom: 50px;
//         }
//     }
// }
