   .socials-icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-property: fill, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &--team {
            fill: $elementColorSecondary;
        }
        &--footer {
            background-color: rgba(255, 255, 255, 0.1);
            fill: $fontColorSecondary;
        }

        &:is(:hover, :focus) {
            background-color: $backlightColor;
            fill: #fff;
            cursor: pointer;
        }
    }

// @media screen and (min-width: 1200px) {
//     .socials-icon {
//         width: 44px;
//         height: 44px;
//         border-radius: 50%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         transition-property: fill, background-color;
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//         &--team {
//             fill: $elementColorSecondary;
//         }
//         &--footer {
//             background-color: rgba(255, 255, 255, 0.1);
//             fill: $fontColorSecondary;
//         }

//         &:is(:hover, :focus) {
//             background-color: $backlightColor;
//             fill: #fff;
//             cursor: pointer;
//         }
//     }
// }
